@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@700&family=Lato:wght@300;700;900&family=Montserrat:wght@100;300;600&family=Noto+Serif+KR:wght@500&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa+One&family=DM+Serif+Display&display=swap');
*{margin:0; padding:0;}
body,html{margin:0;}
ul li{list-style:none;}
div,h1,h2,h3,h4,h5,p{margin:0;}
a{text-decoration: none;}
a:visited{color:#333;}

body{

    background-color: #000019;

}


#portfolioWrap{

    width: 100%;
    height: 100%;
    overflow: hidden;
    margin:0 auto;

}

/*main*/

#main1{

    max-width:100%;
    height: 900px;
    margin:0 auto;
    position: relative;


}

#main1 .introInfo{

    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 auto;
    width: 100%;
    height: 100%;

}

#main1 .introInfo ul{

    width: 80%;
    padding: 10px 0px;

}

#main1 .introInfo ul li{

    padding: 10px 0px;
    display: flex;
    flex-direction: column;

}

#main1 .introInfo ul li p{

    font-size: 100px;
    width: 1200px;
    padding: 20px 0px;
    color:#fff;
    font-weight: 900;
    letter-spacing: 1px;
    text-align: left;
    font-family: 'Changa One', sans-serif;

}

#main1 .introInfo ul li p span{
    
    color:#cc8bee;
}

#main1 .introInfo ul li p em{

    font-style: normal;
    float:left;  
    display: none;
    

}

#main1 .introInfo ul li p:last-child em{

    font-weight: 300;
    font-size: 20px;
    letter-spacing: 3px;
    font-family: 'Lato', sans-serif;
}

#main1 .introInfo ul li p em.active{

    display: inline-block;

}

#introduceBox{

    
    width:80%;
    padding: 20px 0px;
    margin:0 auto;

}

#introduceBox h3{

    font-size: 100px;
    color:#fff;
    font-weight: 900;
    font-family: 'Changa One', sans-serif;
    position: relative;

}

#introduceBox h3 em{

    position: absolute;
    top:67%;
    margin-left:-10px;
    background-color: #fff;
    width: 0px;
    height: 18px;
    transition: width 1s;
    /* border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; */

}

#introduceBox h3 em.active{

    width: 180px;
    transition: width 1s;
     
}


#introduceBox .infoBox{

    width: 100%;
    padding: 20px 0px;
    margin:0 auto;
    float:left;

}

#introduceBox .infoBox li{

    padding: 10px 0px;
}

#introduceBox .infoBox li p{

    color:#fff;
    font-family: 'Lato', sans-serif;
    font-size: 30px;

}

#introduceBox .infoBox li p span{

    font-weight: 900;

}

#introduceBox .infoBox li:last-child p span{

    padding: 5px 0px;
    font-size: 25px;
}

#introduceBox .infoBox .skillsBox{

    width: 100%;
    height:300px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

#introduceBox .infoBox .skillsBox ul{

    flex:1;
    position: relative;

}

#introduceBox .infoBox .skillsBox ul .lineColor{

    width: 20px; 
    height: 150px;
    margin:0 auto;
    position: relative;
    bottom: 0px;

}

#introduceBox .infoBox .skillsBox ul .lineColor span{

    display: block;
    width: 100%;
    height: 90%;
    background-color: #9206db;
    box-shadow: 0px 0px 10px #9206db;
    position: absolute;
    bottom:0px;
    animation: skills infinite ease-in-out 2s;
    
}

@keyframes skills{


    50%{ height:70%};
}

#introduceBox .infoBox .skillsBox ul .reactLine span{

    height:80%;
}

#introduceBox .infoBox .skillsBox ul .vueLine span{

    height:80%;
}

#introduceBox .infoBox .skillsBox ul p{


    font-size: 20px;
    color:#fff;
    text-align: center;
    padding: 10px 0px;


}

#weatherApi{

    width:80%;
    padding: 30px 0px 10px;
    margin:0 auto;
    clear:both;
}

.titleName{

    color:#fff;
    font-weight: 300;
    font-size: 30px; 
    text-align: center;
    padding: 50px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'DM Serif Display', serif;
}


#weatherApi .tdweater{

    width: 100%;
    padding: 20px 0px;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(225,225,225,0.2);
    border-radius: 30px;

}


#weatherApi .tdweater.change{

    box-shadow: 0px 0px 10px rgb(225,225,225);
    transition: box-shadow 800ms;

}

#weatherApi .tdweater .weatherIcon{

    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}
#weatherApi .tdweater .weatherIcon img{

    height:180px;
    animation: nowIcon 1s infinite ease-out;

}

@keyframes nowIcon{

    50%{transform: translateY(-5px);};
    100%{transform: translateY(5px);};
}
    
#weatherApi .tdweater .weatherInfo{

    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#weatherApi .tdweater .weatherInfo  p{

    padding: 5px;
    font-size: 20px;
    font-weight: 300;
    color:#fff;

}

#weatherApi .tdweater .weatherInfo  p span{

    font-weight: 600;
    color:#fff;
    padding: 5px;
}

#weatherApi .ootdLook{

    padding: 10px 0px;
    width: 100%;
    margin:0 auto;
    position: relative;

}

#weatherApi .ootdLook .ootdBox{

    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    opacity: 50%;

}


#weatherApi .ootdLook .ootdBox a{

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

#weatherApi .ootdLook .ootdBox a video{

    height:150%;
    
}

#weatherApi .ootdLook .ootdBox a span{

   color:#fff;
   font-size: 20px;
   font-weight: 900;
   position: absolute;
   text-align: center;

}

#weatherApi .ootdLook .ootdBox:hover{

    opacity: 100%;
    transition: 800ms;
}

#sliderWrap{

    width:100%;
    height:100%;
    margin:0 auto;
    overflow-x: hidden;

}

#sliderWrap #titleSkills{

    position: relative;
    left:10%;
    top:250px;
    z-index:-1;
    font-size: 130px;
    white-space: nowrap;
    text-transform: uppercase;
    opacity: 10%;
    color:#b247ea;
    font-weight: 900;
    letter-spacing: 10px;
    font-family: 'Changa One', sans-serif;
    /* font-family: 'Lato', sans-serif; */

}

#sliderWrap .sliderBtn{

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;

}

#sliderWrap button{

    padding: 10px;
    border:none;
    background-color: transparent;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 2px;
    color:#fff;
    float:left;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    
}

#sliderWrap button:hover{

    cursor: pointer;
    color:#7600b5;
    
}

#sliderWrap button.active{

    color:#7600b5;

}

#sliderWrap .sliderContainer{

    width:100%;
    height:700px;
    margin:0 auto;
    overflow: hidden;
    

}

#sliderWrap .sliderContainer ul{

      width:280%;
      height:100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin:0 auto;
      margin-left:100px;
      overflow: hidden;

}

#sliderWrap .sliderContainer ul.move{

    transition: 800ms;
}

#sliderWrap .sliderContainer ul li{

    width:100%;
    height:100%;
    margin:20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;

}

#sliderWrap .sliderContainer ul li a{

     width: 100%;
     height: 100%;
     cursor: pointer;
     position: absolute;
     display: flex;
     align-items: center;
     justify-content: center;
     opacity: 40%;
     overflow: hidden;

}

#sliderWrap .sliderContainer ul li img{

    height:100%;
    float:left;

}

#sliderWrap .sliderContainer ul li a em{

    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color:#7600b5;
    font-style: normal;
    display: block;
    font-weight: 600;
    position: absolute;
    top:50%;
    opacity:0;
}

#sliderWrap .sliderContainer ul li a:hover{

    opacity: 80%;
}

#sliderWrap .sliderContainer ul li a:hover em{

    opacity:1;
}

#gameWrap{

    width:100%;
    height:100%;
    padding: 100px 0px;
    margin:0 auto;
    
}

.gameTitle{

    color:#fff;
    font-size: 20px; 
    text-align: center;
    padding: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;

}

#wordle_container{

    width: 100%;
    padding: 20px 0px;
    margin:0 auto;
    position: relative;

}

#wordlePackage{

    width:800px;
    padding: 20px 0px;
    margin:0 auto;
    border-radius: 3px;
    background-color: rgba(225,225,225,0.2);

}
#wordle_container .wordInfo{

    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#wordle_container .wordInfo p{

    font-size: 14px;
    color:#fff;
    
}

#wordle_container  #pieceWrap{

    width:780px;
    padding: 10px 0px;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#wordle_container #pieceWrap .pieceBox{
   
    width:100%;
    height:auto;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


#wordle_container #pieceWrap .pieceBox input{

    width:50px;
    height:50px;
    font-size: 40px;
    margin:3px;
    text-align: center;
    float:left;
    background-color: #fff;
    border:1px solid #f4f4f4;
}

#wordle_container #pieceWrap .pieceBox input.green{

    background-color: rgb(0, 147, 0);
}
#wordle_container #pieceWrap .pieceBox input.yellow{

    background-color: rgb(0, 153, 255);
}
#wordle_container #pieceWrap .pieceBox input.gray{

    background-color: lightgray;
}

#wordle_container #btn_contaniner{

    padding: 10px 0px;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

#wordle_container #btn_contaniner button{

    width: 120px;
    height: 50px;
    border-radius: 3px;
    background-color: #eaeaea;
    border:1px solid #eaeaea;
    text-align: center;
    margin:5px;

}

#wordle_container #btn_contaniner button:hover{

    background-color: #000019;
    color:#fff;
}

#wordle_container #gameover{

    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.8);
    margin:0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left:0;
    top:0;
    z-index:1;
}

#wordle_container #gameover .over{

    font-size: 30px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    color:#fff;
    padding: 10px 0px;
}

#wordle_container #gameover span{

    color:#fff;
    font-weight: 300;
    letter-spacing: 5px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0px;
}

#wordle_container #gameover span em{

    font-weight: 300;
    display: block;
    margin:5px;
}

#wordle_container #gameover .retry{

    width:80px;
    height:40px;
    border:none;
    border-radius: 3px;
    margin-top:20px;
    background-color: rgba(225,225,225,0.6);
    color:#333;
    text-align: center;
    font-size: 15px;

}


#wordle_container #pieceWrap .pieceBox.close{

    display:none;

};

#thanks{

    width: 100%;
    height:100%;
    margin:0 auto;
}

#thanks .titleName{

    padding: 200px 0px;

}

#thanks .titleName strong{

    color:#b247ea;
    margin-left:5px;
}